service zygote_compat /system/bin/app_process64 -Xzygote /system/bin --zygote --socket-name=zygote_compat --enable-lazy-preload
    disable_hardened_malloc
    class main
    priority -20
    user root
    group root readproc reserved_disk
    socket zygote_compat stream 660 root system
    socket usap_pool_compat stream 660 root system
    onrestart restart zygote
    task_profiles ProcessCapacityHigh MaxPerformance

